.img {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 150px;
    width: 100%;
    margin-bottom: 10px;
}

.img img {
    max-height: 110px; /* Limite la taille de l'image elle-même */
    width: auto;
}