* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
}

body {
    background-image: url("../images/menu/body/background.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;

    color: white;
}

/* HEADER */
header {
    background: #010529;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
}

.logo-image{
    width: 500px;
    height: auto;
}

.header-icone{
    width: 150px;
    height: auto;
}

.header-btn {
    width: 300px;
    height: auto;
    background: transparent;
    border: 2px solid orange;
    color: orange;
    padding: 10px 80px;
    border-radius: 30px;
    border-width: 1px;
    cursor: pointer;
    font-size: 30px;
    margin-right: 40px;
}

/* HERO */
.hero {
    height: 400px;
    background: url("hero.jpg") center/cover no-repeat;
    position: relative;
}

.overlay {
    background: rgba(0,0,0,0.6);
    height: 100%;
    display: flex;
    align-items: center;
    padding-left: 60px;
}

.hero h1 {
    font-size: 3rem;
}

/* LOGIN */
.login {
    background: #0b7ea4;
    margin: -80px auto 60px;
    padding: 40px;
    border-radius: 30px;
    width: 80%;
    text-align: center;
}

.login h2 {
    margin-bottom: 30px;
    font-size: 2.5rem;
}

.cards {
    display: flex;
    justify-content: space-around;
    gap: 20px;
}

.card {
    background: #020424;
    padding: 30px;
    border-radius: 20px;
    width: 150px;
    text-transform: lowercase;
}

/* ABOUT */
.about {
    display: flex;
    justify-content: space-around;
    padding: 80px 60px;
}

.about-text {
    width: 45%;
    background: #4b9ad6;
    padding: 40px;
    border-radius: 20px;
}

.about-text h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

/* STAT CIRCLE */
.stat-circle {
    display: flex;
    align-items: center;
}

.circle {
    background: #0b7ea4;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.circle span {
    font-size: 3rem;
    font-weight: bold;
}

/* FOOTER */
footer{
  background-color: black;
  color: white;
  font-style: italic;
  font-size: 0.8em;
  margin-top: 50px;
  padding: 10px;
  text-align: center;
}