<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>Job's Horizon</title>
        <link rel="stylesheet" href="assets/style/global/base.css">
        <link rel="stylesheet" href="assets/style/global/layout.css">
        <link rel="stylesheet" href="assets/style/global/components.css">
        {% block stylesheets %} <link rel="stylesheet" href="assets/style/pages/homepage.css"> {% endblock %}
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>

    <body>
        {% block header %}
        <header>
            <img class="logo-image" src="assets/images/menu/header/Logo-header.png" alt="Logo">
            <img class="header-icone" src="assets/images/menu/header/header-icone-1.png" alt="icone 1">
            <img class="header-icone" src="assets/images/menu/header/header-icone-2.png" alt="icone 2">
            <img class="header-icone" src="assets/images/menu/header/header-icone-3.png" alt="icone 3">
            <a class="header-btn" href="homepage.html#login-box">Connexion</a>
        </header>
        {% endblock %}

        {% block content %}
        {% endblock %}

        <footer>
            <p>© 2026 - All rights reserved.</p>

            <div class="footer">
                <div class="bloc">
                    <h3>Partenaires</h3>
                    <ul class="partenaires">
                        <li><a href="https://www.cesi.fr/">CESI, La Rochelle</a></li>
                    </ul>
                </div>

                <div class="bloc">
                    <h3>Contacts</h3>
                    <a href="https://www.google.com/maps/place/CESI+La+Rochelle/@46.167943,-1.150123,17z/data=!3m1!4b1!4m5!3m4!8l!9b1!12b1?hl=fr" class="res">
                        <img src="assets/images/menu/footer/A.png" alt="Logo">
                        8 Rue Isabelle Autissier, Lagord
                    </a>
                    <a href="tel:0500000000" class="res">
                        <img src="assets/images/menu/footer/S.png" alt="Logo">
                        05 00 00 00 00
                    </a>
                    <a href="mailto:paul.jack@gmail.com" class="res">
                        <img src="assets/images/menu/footer/E.png" alt="Logo">
                        paul.jack@gmail.com
                    </a>
                </div>

                <div class="bloc">
                    <h3>Réseaux</h3>
                    <ul class="reseaux">
                        <li>
                            <a href="https://www.instagram.com/" class="res">
                                <img src="assets/images/menu/footer/I.png" alt="Logo">
                                Instagram
                            </a>
                            <a href="https://twitter.com/" class="res">
                                <img src="assets/images/menu/footer/X.png" alt="Logo">
                                Twitter
                            </a>
                            <a href="https://www.tiktok.com/" class="res">
                                <img src="assets/images/menu/footer/T.png" alt="Logo">
                                TikTok
                            </a>
                            <a href="https://www.youtube.com/" class="res">
                                <img src="assets/images/menu/footer/Y.png" alt="Logo">
                                Youtube
                            </a>
                            <a href="https://www.linkedin.com/school/cesi-la-rochelle/" class="res">
                                <img src="assets/images/menu/footer/L.png" alt="Logo">
                                CESI, La Rochelle
                            </a>
                            <a href="https://www.facebook.com/cesila.rochelle" class="res">
                                <img src="assets/images/menu/footer/F.png" alt="Logo">
                                Facebook
                            </a>
                        </li>
                    </ul>
                </div>

                <div class="bloc">
                    <h3>Mentions légales</h3>
                    <ul class="mentions">
                        <li><a href="mention-legale.html">Mentions légales</a></li>
                    </ul>
                </div>
            </div>
        </footer>
    </body>
</html>